@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === メインカラーの変数 ============================== */
:root {
  --main-color: #2ea4d9;
  --secondry-color: #45fdf7b3;
  --background-color: #f0f0f0;
}

/* === 共通スタイル ============================== */
body {
  background-color: var(--background-color);
  color: #333;
  margin: 100px 0 100px 0;
  padding: 0;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

p,
select,
button,
input {
  font-size: 1rem;
}

button,
select {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  height: 40px;
}

select {
  width: 25%;
}

/* === 会員登録・ログインフォーム ======================== */
#form-area {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 1rem auto;
}

#register-form,
#login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
}

#register-form input[type="text"],
#login-form input[type="text"],
#register-form input[type="password"],
#login-form input[type="password"]
 {
  width: 240px;
  padding: 0.6rem;
  margin: 0.2rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 240px;
}

form input[type="submit"]:hover,
button:hover {
  background-color: var(--main-color);
  opacity: 0.8;
}

form input[type="submit"]:active,
button:active {
  transform: scale(0.95);
}

.register-caution {
  font-size: 0.9rem;
  color: #ff0000;
  width: 240px;
}

/* === ユーザー情報 ============================== */
#user-info {
  background: #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  flex-direction: column;
  max-width: 600px;
  margin: 1rem auto;
  padding: 0 1rem 0.4rem 1rem;
  display: flex;
  position: relative;
  z-index: 99;
}

#user-info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#user-info-form p {
  margin: 0 0.5rem;
  font-size: 0.8rem;
  color: #333;
  font-size: small;
}

#user-info-form input[type="text"] {
  padding: 0.8rem;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  border: none;
}

#user-info-form input[type="text"]:focus {
  outline: none;
}

#user-info-form input[type="submit"] {
  width: 40%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  color: #fff;
  background-color: var(--main-color);
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#user-info-button {
  background-color: var(--background-color);
  border: #000 1px solid;
  border-radius: 4px;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  color: #000;
}

#user-info-button:active {
  transform: scale(0.95);
}

#user-info .buttonWrapper {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

#logout-button,
#delete-button {
  max-width: 300px;
  padding: 0.5rem 0.8rem;
  color: #fff;
  background-color: var(--main-color);
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#logout-button {
  width: calc(0.8*0.5*100%);
}

#delete-button {
  background: #ff0000c7;
}

/* === 会員情報削除の確認モーダル ============================== */

#delete-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%;
  min-width: 350px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #00000033;
  text-align: center;
  z-index: 100;
}

#delete-confirm-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
}

#delete-confirm h2 {
  margin-bottom: 20px;
}

#delete-confirm p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ff0000c7;
}


#delete-confirm .buttonWrapper {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#delete-confirm-button {
  background-color: #ff0000c7;
}
#delete-cancel-button {
  background-color: #333;
}

#delete-confirm button:active {
  transform: scale(0.98);
}

#delete-confirm button:focus {
  outline: none;
}

/* === メッセージエリア ============================== */
#message-area {
  color: rgb(14, 8, 8);
  font-weight: bold;
  text-align: center;
  display: block;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  display: none;
}

#message-area.success {
  background-color: #9cff9c;
  border: 1px solid #00b300;

}

#message-area.error {
  background-color: #ffc6c6;
  border: 1px solid #ff0000;
}

/* === タイマーの表示・操作・設定のエリア ============================== */

#myTimer-area {
  font-size: 5rem;
  color: #032492;
  text-align: center;
  letter-spacing: 0.3rem;
  font-family: Rockwell, sans-serif;
}

.timer-container {
  max-width: 600px;
  margin: 1rem auto;
}

.timer-contoroller-box {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  max-width: 600px;
}

#selection-time {
  width: 45%;
}

#pauseButton,
#resumeButton,
#stopButton {
  display: none;
  width: 45%;
}

#startButton {
  width: 45%;
}

#stopButton {
  background-color: #ff0000;
}

.audio-slider-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.vol-down,
.vol-up {
  width: 30px;
  height: 30px;
}

.vol-down img,
.vol-up img {
  width: 100%;
  height: 100%;
}

#volume-slider {
  width: 100px;
  margin: 0 10px;
}

#volume-check-button {
  display: block;
  margin: 0 10px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: var(--background-color);
}

#volume-check-button:hover {
  background-color: var(--main-color);
  color: var(--background-color);
}

/* === アラートを止めるボタン ============================ */

#stop-alert-button {
  width: 90%;
  border: red solid 1px;
  padding: 5px;
  margin: 8px auto;
  color: #fff;
  background-color: #ff7a14;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

/* === タイマー一覧表 ============================ */
#timer-table {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  border-collapse: collapse;
}

#timer-table th,
#timer-table td {
  padding: 0.2rem 1rem;
  border: 1px solid #ccc;
  font-size: 19px;
}

#timer-table th {
  background-color: #2ea4d9;
  color: #fff;
  width: 50%;
}

.user-list {
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.user-list::after {
  content: "";
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg) translateY(9px);
  position: absolute;
  right: 20px;
  top: 50%;
  transition: transform .4s;
}

.user-list.is-open::after {
  transform: rotate(45deg) translateY(-9px);
}

/* === 閉じるバツのスタイル ============================== */
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  padding: 4px;
  color: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.close:hover {
  background: rgba(255, 255, 255, 0.312);
}

.close::before,
.close::after {
  content: "";
  display: block;
  width: 95%; /*バツ線の長さ*/
  height: 3px;  /*バツ線の太さ*/
  background: #000;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top: calc(18% - 2px);
  left: 17%;
}

.close::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
  left: auto;
  right: 16%;
}

.fadeOut {
  transition: opacity 1s ease-out;
  opacity: 0;
}

/* === コンタクトフォーム ============================== */
#contact-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #00000033;
  z-index: 100;
}

#contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

#contact-form label {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#contact-form #name.error,
#contact-form #email.error,
#contact-form #message.error {
  border: 1px solid red !important;
}

#contact-form textarea {
  resize: none;
  height: 120px;
  font-size: 1rem;
}

.contact-error-message {
  color: red;
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
}

.contact-error-message::before {
  content: "※";
}

#contact-form button {
  display: block;
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

#contact-form button:hover {
  background-color: #444;
}

#contact-form .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  padding: 4px;
  color: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

#contact-form .close:hover {
  background-color: #959595;
}

/* === ヘッダー ================================= */
header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-container p {
  font-size: 20px;
  margin-right: 10px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.header-container h1 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

/* === フッター ==================================== */
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #6b6b6b;
  color: #fff;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

#footer-contact,
.copyright {
  margin: 0.5rem 1rem;
  padding: 0;
  font-size: small;
}

#footer-contact {
  cursor: pointer;
}

/* === 非表示 ======================================= */
.noDisp {
  display: none !important;
}

/* === モーダルバックグランド ========================== */
.modalBg {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at 50% 50%,
      rgba(153, 153, 153, 0.62),
      rgba(153, 153, 153, 0.42));
  z-index: 10
}

/* === モーダルバックグランド：OPEN時のアニメーション ====== */
.fadeIn {
  animation: bgOpenAnime 0.4s ease;
}

@keyframes bgOpenAnime {

  /* フェードイン */
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

/* === モーダルバックグランド：CLOSE時のアニメーション ===== */
.fadeOut {
  bottom: 100%;
  animation: bgCloseAnime 0.4s ease;
}

@keyframes bgCloseAnime {

  /* フェードイン */
  0% {
    opacity: 1;
    bottom: 0
  }

  100% {
    opacity: 0;
    bottom: 0
  }
}

/* === アコーディオン ================================= */

/* === アコーディオン：OPEN時のアニメーション ============ */
.is-open {
  animation: openAnime 0.4s ease;
}

.timer-info>td {
  position: relative;
  background: #fff;
  color: #202020;
  border: transparent;
  /*borderを非表示の状態にする*/
  padding: 0 1rem !important;
  /*上下のpaddingを0に書き換える*/
  line-height: 0;
  /* 非表示時、0*/
  opacity: 0;
  /* 非表示時、0*/
  transition: line-height 0.4s, padding 0.4s, opacity 0.4s;
}

.timer-info.is-open>td {
  padding: 0.2rem 1rem;
  line-height: 1.5;
  opacity: 1;
  border: 1px solid lightblue;
}

/* === メディアスクリーン =============================== */

@media screen and (max-width: 600px) {
  
  .user-info {
    width: 95%;
  }
  
  #contact-form {
    width: 90%;
  }
  
  footer {
    height: auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  #form-area {
    flex-direction: column;
  }
}